<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Thanks for question, <%= @user.name %>!</h1>

<p>The answer has been deliver please sign in to read it</p>
</body>
</html>
