<div class="row">
  <div class="background-signin">
    <div class="col-md-4"></div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body margin-title-panel">

          <h2 class="margin-title-signing light color-text">Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <br/>
                <%= f.email_field :email, autofocus: true, class: "field__input",placeholder: "enter email" %></div>

              <div><%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-fill new-color light" %></div>
          <% end %>

          
        </div>

      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>