<div class="row">
  <div class="background">
    <div class="col-md-3"></div>
    <div class="col-md-6 center">
      <h1 class="margin-nav center-title-color thin">the web design who make you and your company bigger</h1>
      <%= link_to "GET STARTED - IT'S FREE!", '#', class: "btn btn-success btn-lg btn-fill new-color space light" %>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!--==============================================Main End===============================================-->

<div class="row border-bottom">
  <div class="col-md-3"></div>
  <div class="col-md-6 center">

    <h2 class="lato color-text thin"> If you are looking for a way to grow your company everything start here</h2>
    <%= link_to "READ MORE", '#', class: "btn btn-info btn-lg space light margin-readme" %>

  </div>
  <div class="col-md-3"></div>
</div>

 <!--=======================================READ MORE END ============================================-->

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <h5 class="center margin-job color-text">Some of our Amazing work</h5>
  </div>
  <div class="col-md-3"></div>
</div>

<!--==========================================SOME OF OUR AMAZING JOB END==============================-->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="thumbnail center">
      <h6 class="margin-date color-date-link">date</h6>
      <h3>hello gil first</h3>
      <p>helo helo helo helo helo</p>
      <div class="caption">

        <p><%= link_to "take a look",'#', class: "btn btn-link color-date-link" %></p>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail center">
      <h6 class="margin-date color-date-link">date</h6>
      <h3>hello gil first</h3>
      <p>helo helo helo helo helo</p>
      <div class="caption">

        <p><%= link_to "take a look",'#', class: "btn btn-link color-date-link" %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>