<div class="background">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center">
<h1 class="margin-nav center-title-color thin">the web design who make you and your company bigger</h1>
      <button class="btn btn-success btn-lg btn-fill new-color space light">GET STARTED - IT'S FREE!</button>
      </div>
     <div class="col-md-3"></div>
  </div>
</div>

<div class="row background-color">
  <div class="col-md-3"></div>
  <div class="col-md-6 center">

    <h2 class="lato color-text thin"> If you are looking for a way to grow your company everything start here</h2>
    <button class="btn btn-success btn-lg btn-fill new-color space light">READ MORE</button>
  </div>
  <div class="col-md-3"></div>
</div>

