

//==================================
.img-padding{

  padding-top: 60px;
  margin: 0 auto ;
}

.font-size-title{
  font-size: 60px;
  margin-bottom: 3px;

}

.font-size-subtitle{

  font-size: 50px;
  margin-top: 0px;
}

.font-size-date{
  font-size: 20px;
  margin-bottom: 25px;
}

.font-size-p{
  font-size: 20px;
}

.margin-page-navi{
  margin-left: 60px !important;
//  margin: 0 auto !important;
}

.profile-blog-color{
border-color: #809ae5 !important;
}
.background-blog-color{
background-color: #f1f4f9;
}

.blog-background-panel{
  background-color: #ffffff;
}

.col-md-12:nth-child(1n+1),.col-md-10:nth-child(1n+1){
  clear: left;
}

.margin-title-blog{
  margin-left: 10px;
}
