

//==================================
.img-padding{

  padding-top: 60px;
  margin: 0 auto ;
}

.font-size-title{
  font-size: 60px;
  margin-bottom: 3px;

}

.font-size-subtitle{

  font-size: 50px;
  margin-top: 0px;
}

.font-size-date{
  font-size: 20px;
  margin-bottom: 25px;
}

.font-size-p{
  font-size: 20px;
}

.margin-page-navi{
  margin-left: 60px !important;
//  margin: 0 auto !important;
}

.profile-blog-color{
border-color: #809ae5 !important;
}
.background-blog-color{
background-color: #f1f4f9;
}

.blog-background-panel{
  background-color: #ffffff;
}

.col-md-12:nth-child(1n+1),.col-md-10:nth-child(1n+1){
  clear: left;
}

.padding-top-blog{
  padding-top: 50px;
}

.search-icon-size-and-color{
  font-size: 100px;
  color: #ff5a5f;

}

.button-margin-facebook{
  margin-left: 60px;
}

.button-margin-linkedin{
  margin-left: 80px;
}

.color-linkedin{
  border-color: #007bb6 !important;
  background-color: #007bb6!important;
}

.border-bottom-blog-style{
  border-radius: 10px;
  border-bottom: 3px solid #dce8ed;
}

.margin-bottom-social{
  padding-bottom: 20px !important;
}

.border-icon{
  border-radius: 100%;
  border: 1px solid #daac16;
  padding: 2px;
}

.border-icon:hover{
  border: 1px solid #ffffff;
}

.blog-read-more-margin{
  margin-left: 110px;
}

.border-profile-blog{
  border: 4px solid #dce8ed;
}

.margin-menu-back{
  margin-left: 150px !important;
  margin-top: 20px;
  padding: 20px !important;
  font-size: 20px;

}

.size-ic-new-blog{
  font-size: 30px;
  color: #ff5a5f;
}

.size-ic-new-blog:hover{
  font-size: 30px;
  color: #3472F7;

}

.margin-embed-top{
  margin-top: 10px;
}