@import url(http://fonts.googleapis.com/css?family=Nunito:300);
.nunito{

  font-family: 'Nunito', sans-serif;
}

//==================================
.img-padding{

  padding-top: 60px;
  margin: 0 auto ;
}

.font-size-title{
  font-size: 60px;
  margin-bottom: 3px;

}

.font-size-subtitle{

  font-size: 50px;
  margin-top: 0px;
}

.font-size-date{
  font-size: 20px;
  margin-bottom: 25px;
}

.font-size-p{
  font-size: 20px;
}
