
@function em($px, $base: 16) {
  @return ($px / $base) + em;
}



.field {
  position: relative;
  padding-bottom: em(30);
  margin-bottom: em(30);
  max-width: em(320);
}



.field__input {
  position: absolute;
  display: block;
  box-sizing: border-box;
  font-size: em(20);
  font-weight: 100;
  line-height: em(20);
  padding: em(5) 0;
  height: em(30);
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: em(1) solid #bbb;

  &:valid {
    position: relative;
    top: em(30);
    margin-top: em(-30);
  }

  &:focus {
    border-bottom-color: #ff5a5f;
  }
}

//===================================================END FORM =================================================


