.hover-why-us {
  color: #5f6a7d !important;
}

.hover-why-us:hover {
  background-color: #809ae5 !important;
  color: #ffffff !important;

}

.hover-home {

  color: #5f6a7d !important;
}

.hover-home:hover {

  background-color: #ff5a5f !important;
  color: #ffffff !important;
}

.hover-pricing {

  color: #5f6a7d !important;
}

.hover-pricing:hover {

  background-color: #3498db !important;
  color: #ffffff !important;
}

.hover-portofolio {
  color: #5f6a7d !important;
}

.hover-portofolio:hover {

  background-color:  #1ecd97 !important;
  color: #ffffff !important;
}

.hover-how-it-works {
  color: #5f6a7d !important;
}

.hover-how-it-works:hover {

  background-color:  #3472F7 !important;
  color: #ffffff !important;
}

//.col-sign{
//  color: #5f6a7d !important;
//}

.size-menu{
  font-size: 20px !important;
}

.border-color-degr{
  color: #ffffff;
  background-image: linear-gradient(-224deg,#4dc2f9 0%,#6b4ade 100%) !important;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.margin-form{
  margin: 8px -15px 0px 100px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.margin-browse-button{
  margin-left: 80px;
}
