@import url(http://fonts.googleapis.com/css?family=Lobster);

.lobster{
  font-family: 'Lobster', cursive;
}

.info-boby{
  padding: 10px;
}

.background-why-us{
  background:#809ae5;



}
.back-bord-remove{
  background: none !important;
  border: none !important;
}

.white{
  border-color: #ffffff;
  color: #ffffff !important;
}



.background-white{
  background-color: #ffffff !important;
}
.purple{
  color: #809ae5;
}
.style-x{
font-size: 20px;
  margin-left: -10px;
}

.background-why-main{
  background:#809ae5;
  height: 600px;
  margin-top: -20px;
}

.margin-top-info-main{
  margin-top: 20px;
}

.size-main-info{
  font-size: 70px;
}


