.info-boby{
  padding: 0;
}

.background-why-us{
  background:#809ae5;
  height: 80px;


}
.back-bord-remove{
  background: none !important;
  border: none !important;
}

.white{
  border-color: #ffffff;
  color: #ffffff !important;
}



.background-white{
  background-color: #ffffff !important;
}
.purple{
  color: #809ae5;
}
.style-x{
font-size: 20px;
  margin-left: -10px;
}

.background-why-main{
  background:#809ae5;
  height: 600px;
}

