@import url(http://fonts.googleapis.com/css?family=Lobster);

.lobster{
  font-family: 'Lobster', cursive;
}

.info-boby{
  padding: 10px;
}

.background-why-us{
  background:#809ae5;



}
.back-bord-remove{
  background: none !important;
  border: none !important;
}

.white{
  border-color: #ffffff !important;
  color: #ffffff !important;
}



.background-white{
  background-color: #ffffff !important;
}
.purple{
  color: #809ae5;
}
.style-x{
font-size: 20px;
  margin-left: -10px;
}

.background-why-main{
  background:#809ae5;
  height: 600px;
  margin-top: -20px;
}

.margin-top-info-main{
  margin-top: 20px;
}

.size-main-info{
  font-size: 70px;
}

//.overlay:after{background-image:-webkit-linear-gradient(-135deg, #7ed3fb 0%, #8e75e6 100%)/opacity: 0.75;


.pill-style-whyus {
  color:#809ae5;
  border-color: #809ae5;
}
.pill-style-whyus:hover{
  background-color:#809ae5 ;
  color: #ffffff;
  border-color:#809ae5 ;
}

.pill-info-widht{
  width: 361px;
}
.fill-info-position{
  margin: auto;
}
.margin-center-pill{
  margin: 80px 0 50px 120px;

}

.active-fill-info-bg{
  background-color:#809ae5 !important;
  color: #ffffff !important;
  border-color:#809ae5 !important;
}

.background-pricing{
  background: #3498db;
}

.background-pricing-main{
  background: #3498db;
  height: 600px;
  margin-top: -20px;
}

.active-fill-pricing-bg{
  background-color:#3498db !important;
  color: #ffffff !important;
  border-color:#3498db !important;
}

.pill-style-pricing{
  color:#3498db;
  border-color: #3498db;
}
.pill-style-pricing:hover{
  background-color:#3498db ;
  color: #ffffff;
  border-color:#3498db ;
}

.sale-icon-pricing{
  font-size: 280px;
  color: #ffffff;
}

.margin-left-sale{
  margin-left: 120px;
}

.blue-ic{
 color: #3498db;
}
.background-portofolio{
  background:#f9f9f9;
}
.green-ic{
  color: #1ecd97;
}
.background-portofolio-main{
  background: #f9f9f9;
  height: 600px;
  margin-top: -20px;
}
.green-porto{
  color: #1ecd97 !important;
  border-color: #1ecd97;
}

.grey-porto{
  color: #62706c;
}

//======================How does it work==========================================

.find-your-love-website{
  font-size: 40px;
  color: #f092b0;

}
.shop-your-website{
  font-size: 40px;
  color: #53bbb4;
}

.we-contact-you{
  font-size: 40px;
  color: #838cc7;
}

.beggining-of-the-project{
  font-size: 40px;
  color: #51b46d;
}

.delevery-of-the-project{
  font-size: 40px;
  color: #39add1;
}

.support-growth{
  font-size: 40px;
  color: #e0ab18;
}

.margin-love-website{
  padding-top: 10px;
}
.blue-step-icon{
  color: #3472F7;
}




//======================How does it work==========================================


