.image-profile{
  height: 50px;
  width: 50px;
}
.margin-name{
  margin-bottom: 80px;
}
.name{
  margin-left: 85px;
}
.margin-profile{
  margin: 10px 0 10px 75px !important;
}
.border-profile{
  border: 3px solid #ffffff;
}
