<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1 class="thin center text-primary">write your message below </h1>
    <h1 class="thin center text-primary"> <i class="ti-email text-primary"></i> </h1>

    <%= render 'form' %>

    <%= link_to 'Back', project_path(@project) %>
  </div>
</div>
