<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_project_review_path(@project,@review) %> |
<%= link_to 'Back project show', project_path(@project) %>
