<% provide(:background, 'background-portofolio') %>
<% provide(:icon_color, 'green-ic') %>
<% provide(:toggle_nav, 'green-ic') %>
<% provide(:bars, 'green-ic') %>
<% provide(:signout, 'green-porto') %>
<% provide(:signin, 'green-porto') %>


<div class="background-portofolio-main">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h1 class="grey-porto size-main-info lobster">be responsive and powerful


      </h1>

      <h2 class="grey-porto thin hidden-xs">it's win the user, from responsive design
        to the best user experience ever, from management to a complete administration system
        we can solve the most advanced of your need</h2>


    </div>

    <div class="col-md-5"></div>


    <div class="col-md-1"></div>
  </div>
</div>