<% provide(:background, 'background-pricing') %>
<% provide(:icon_color, 'blue-ic') %>
<% provide(:toggle_nav, 'white') %>
<% provide(:bars, 'white') %>
<% provide(:signout, 'white') %>
<% provide(:signin, 'white') %>

<div class="background-pricing-main">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h1 class="white size-main-info lobster">be responsive and powerful


      </h1>

      <h2 class="white thin hidden-xs">it's win the user, from responsive design
        to the best user experience ever, from management to a complete administration system
        we can solve the most advanced of your need</h2>


    </div>

    <div class="col-md-5"><i class="fi-burst-sale sale-icon-pricing margin-left-sale"></i></div>


    <div class="col-md-1"></div>
  </div>
</div>



<div class="row">
   <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="btn-group margin-center-pill hidden-xs hidden-sm hidden-md touch-me">


      <a class="btn btn-default btn-lg pill-style-pricing light pill-info-widht center active-fill-pricing-bg"
         id="myHeader1" href="javascript:showonlyone('newboxes1');">Web Application Developement</a>



      <a class="btn btn-default btn-lg pill-style-pricing light pill-info-widht center" id="myHeader3"
         href="javascript:showonlyone('newboxes3');">Reducing cost</a>
    </div>
  </div>
 <div class="col-md-2"></div>
</div>

<div class="content-container">

  <div id="newboxes1" class="newboxes"><h1>WEB DEVELOPEMENT</h1></div>

  <div id="newboxes3" class="newboxes" style="display: none"><h1>Reducing cost</h1></div>

</div>