<%= render "info/info_header" %>
<div class="background-why-main">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h1 class="white size-main-info lobster">be responsive and powerful


      </h1>
      <h2 class="white thin hidden-xs">it's win the user, from responsive design
      to the best user experience ever, from management to a complete administration system
      we can solve the most advanced of your need</h2>


    </div>

    <div class="col-md-5 hidden-xs">
      <section id="iphone5c" class="red margin-top-info-main">
        <div class="device">
          <div class="inner background-phone"></div>
          <div class="camera"></div>
          <div class="sleep"></div>
          <div class="sensor"></div>
          <div class="volume"></div>
          <div class="speaker"></div>
          <a class="screen" href="http://marvelapp.com">Marvel</a>

          <div class="home"></div>
        </div>
      </section>
    </div>


    <div class="col-md-1"></div>
  </div>

</div>

