<% provide(:background, 'background-why-us') %>
<% provide(:icon_color, 'purple') %>
<% provide(:toggle_nav, 'white') %>
<% provide(:bars, 'white') %>
<% provide(:visibility_brand_info,'hidden') %>
<% provide(:signout, 'white') %>
<% provide(:signin, 'white') %>
<% provide(:border_cross_menu_color, 'border-cross-menu-purple') %>
<% provide(:footer_visibility,'visible') %>



<div class="background-why-main">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h1 class="white size-main-info lobster">be responsive and powerful


      </h1>

      <h2 class="white thin hidden-xs">it's win the user, from responsive design
        to the best user experience ever, from management to a complete administration system
        we can solve the most advanced of your need</h2>


    </div>

    <div class="col-md-5 hidden-xs hidden-sm">
      <section id="iphone5c" class="red margin-top-info-main">
        <div class="device">
          <div class="inner background-phone"></div>
          <div class="camera"></div>
          <div class="sleep"></div>
          <div class="sensor"></div>
          <div class="volume"></div>
          <div class="speaker"></div>


          <div class="home"></div>
        </div>
      </section>
    </div>


    <div class="col-md-1"></div>
  </div>
</div>



<div class="row">

  <div class="col-md-12">
    <div class="btn-group margin-center-pill hidden-xs hidden-sm hidden-md  click-me">


      <a class="btn btn-default btn-lg pill-style-whyus light pill-info-widht center active-fill-info-bg"
      id="myHeader1" href="javascript:showonlyone('newboxes1');">Web Application Developement </a>

      <a class="btn btn-default btn-lg pill-style-whyus light pill-info-widht center" id="myHeader2"
         href="javascript:showonlyone('newboxes2');">Responsive Web design</a>

      <a class="btn btn-default btn-lg pill-style-whyus light pill-info-widht center" id="myHeader3"
         href="javascript:showonlyone('newboxes3');">Reducing cost</a>
    </div>
  </div>

</div>

<div class="content-container">

  <div id="newboxes1" class="newboxes">
    <!--<h1>WEB DEVELOPEMENT</h1>-->

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 center">
        <div class="ic-margin-top-bottom">
        <i class="ti-lock ic-why-us-purple"></i>
        </div>
        <h5 class="color-title-growth">security features</h5>
        <p class="light growth-p">we are essentially computer programmers who
          focus on creating Web applications. </p>
      </div>

      <div class="col-md-2 center">
        <div class="ic-margin-top-bottom">
          <i class="ti-server ic-why-us-purple"></i>
        </div>
        <h5 class="color-title-growth">management systems</h5>
        <p class="light growth-p">gather information about users, and give users
          access to specific profiles. </p>
      </div>

      <div class="col-md-2 center">
        <div class="ic-margin-top-bottom">
          <i class="ti-stats-up ic-why-us-purple"></i>
        </div>
        <h5 class="color-title-growth">security features</h5>
        <p class="light growth-p">we are essentially computer programmers who
          focus on creating Web applications. </p>
      </div>

      <div class="col-md-2 center">
        <div class="ic-margin-top-bottom">
          <i class="ti-pie-chart ic-why-us-purple"></i>
        </div>
        <h5 class="color-title-growth">data management tools</h5>
        <p class="light growth-p">we are essentially computer programmers who
          focus on creating Web applications. </p>
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>
  <div id="newboxes2" class="newboxes" style="display: none"><h1>Responsive Web design</h1></div>
  <div id="newboxes3" class="newboxes" style="display: none"><h1>Reducing cost</h1></div>

</div>


