<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-sign-in fa-2x asowesome-color"></i>
        </button>




      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li>
              <a id="myDevice1" href="javascript:showonedevice('device1');" >
                 <i class="ti-desktop navbar-form navbar-left device-margin-left color-device-desktop"></i>
              </a>
            </li>
            <li>
              <a id="myDevice2" href="javascript:showonedevice('device2');" >
                 <i class="ti-tablet navbar-form navbar-left device-margin-left color-device-tablet"></i>
              </a>
            </li>
            <li>
               <a id="myDevice3" href="javascript:showonedevice('device3');" >
                  <i class="ti-mobile navbar-form navbar-left device-margin-left color-device-mobile"></i>
               </a>
            </li>

        </ul>


        <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Order it Now", new_website_order_path(@website),
                     class: "btn btn-primary btn-round device-fonts-color light", data: { no_turbolink: true } %></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>