<footer class="footer footer-big">
  <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <select name="huge" class="selectpicker" data-style="btn-default btn-block" data-menu-style="dropdown-blue" style="display: none;">

            <option value="id">Bahasa Indonesia</option>
            <option value="ms">Bahasa Melayu</option>
            <option value="ca">Català</option>
            <option value="da">Dansk</option>
            <option value="de">Deutsch</option>
            <option value="en" selected="">English</option>
            <option value="es">Español</option>
            <option value="el">Eλληνικά</option>
            <option value="fr">Français</option>
            <option value="it">Italiano</option>
            <option value="hu">Magyar</option>
            <option value="nl">Nederlands</option>
            <option value="no">Norsk</option>
            <option value="pl">Polski</option>
            <option value="pt">Português</option>
            <option value="fi">Suomi</option>
            <option value="sv">Svenska</option>
            <option value="tr">Türkçe</option>
            <option value="is">Íslenska</option>
            <option value="cs">Čeština</option>
            <option value="ru">Русский</option>
            <option value="th">ภาษาไทย</option>
            <option value="zh">中文 (简体)</option>
            <option value="zh-TW">中文 (繁體)</option>
            <option value="ja">日本語</option>
            <option value="ko">한국어</option>
          </select><div class="btn-group select"><button class="btn dropdown-toggle clearfix btn-default btn-block" data-toggle="dropdown"><span class="filter-option">English</span>&nbsp;</button><span class="dropdown-arrow dropdown-arrow-blue"></span><ul class="dropdown-menu dropdown-blue" role="menu" style="overflow-y: auto; min-height: 108px; max-height: 300px;"><li rel="0"><a tabindex="-1" href="#" class=""><span class="">Bahasa Indonesia</span></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="">Bahasa Melayu</span></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="">Català</span></a></li><li rel="3"><a tabindex="-1" href="#" class=""><span class="">Dansk</span></a></li><li rel="4"><a tabindex="-1" href="#" class=""><span class="">Deutsch</span></a></li><li rel="5" class="selected"><a tabindex="-1" href="#" class=""><span class="">English</span></a></li><li rel="6"><a tabindex="-1" href="#" class=""><span class="">Español</span></a></li><li rel="7"><a tabindex="-1" href="#" class=""><span class="">Eλληνικά</span></a></li><li rel="8"><a tabindex="-1" href="#" class=""><span class="">Français</span></a></li><li rel="9"><a tabindex="-1" href="#" class=""><span class="">Italiano</span></a></li><li rel="10"><a tabindex="-1" href="#" class=""><span class="">Magyar</span></a></li><li rel="11"><a tabindex="-1" href="#" class=""><span class="">Nederlands</span></a></li><li rel="12"><a tabindex="-1" href="#" class=""><span class="">Norsk</span></a></li><li rel="13"><a tabindex="-1" href="#" class=""><span class="">Polski</span></a></li><li rel="14"><a tabindex="-1" href="#" class=""><span class="">Português</span></a></li><li rel="15"><a tabindex="-1" href="#" class=""><span class="">Suomi</span></a></li><li rel="16"><a tabindex="-1" href="#" class=""><span class="">Svenska</span></a></li><li rel="17"><a tabindex="-1" href="#" class=""><span class="">Türkçe</span></a></li><li rel="18"><a tabindex="-1" href="#" class=""><span class="">Íslenska</span></a></li><li rel="19"><a tabindex="-1" href="#" class=""><span class="">Čeština</span></a></li><li rel="20"><a tabindex="-1" href="#" class=""><span class="">Русский</span></a></li><li rel="21"><a tabindex="-1" href="#" class=""><span class="">ภาษาไทย</span></a></li><li rel="22"><a tabindex="-1" href="#" class=""><span class="">中文 (简体)</span></a></li><li rel="23"><a tabindex="-1" href="#" class=""><span class="">中文 (繁體)</span></a></li><li rel="24"><a tabindex="-1" href="#" class=""><span class="">日本語</span></a></li><li rel="25"><a tabindex="-1" href="#" class=""><span class="">한국어</span></a></li></ul></div>
        </div>
        <div class="form-group">
          <select name="huge" class="selectpicker" data-style="btn-default btn-block" data-menu-style="dropdown-blue" style="display: none;">
            <option value="ARS">ARS</option>
            <option value="AUD">AUD</option>
            <option value="BRL">BRL</option>
            <option value="CAD">CAD</option>
            <option value="CHF">CHF</option>
            <option value="CNY">CNY</option>
            <option value="CZK">CZK</option>
            <option value="DKK">DKK</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="HKD">HKD</option>
            <option value="HUF">HUF</option>
            <option value="IDR">IDR</option>
            <option value="ILS">ILS</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
            <option value="KRW">KRW</option>
            <option value="MYR">MYR</option>
            <option value="MXN">MXN</option>
            <option value="NOK">NOK</option>
            <option value="NZD">NZD</option>
            <option value="PHP">PHP</option>
            <option value="PLN">PLN</option>
            <option value="RUB">RUB</option>
            <option value="SEK">SEK</option>
            <option value="SGD">SGD</option>
            <option value="TWD">TWD</option>
            <option value="USD" selected="">USD</option>
            <option value="VND">VND</option>
            <option value="ZAR">ZAR</option>

          </select><div class="btn-group select"><button class="btn dropdown-toggle clearfix btn-default btn-block" data-toggle="dropdown"><span class="filter-option">USD</span>&nbsp;<span class="caret"></span></button><span class="dropdown-arrow dropdown-arrow-blue"></span><ul class="dropdown-menu dropdown-blue" role="menu" style="overflow-y: auto; min-height: 108px; max-height: 300px;"><li rel="0"><a tabindex="-1" href="#" class=""><span class="">ARS</span></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="">AUD</span></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="">BRL</span></a></li><li rel="3"><a tabindex="-1" href="#" class=""><span class="">CAD</span></a></li><li rel="4"><a tabindex="-1" href="#" class=""><span class="">CHF</span></a></li><li rel="5"><a tabindex="-1" href="#" class=""><span class="">CNY</span></a></li><li rel="6"><a tabindex="-1" href="#" class=""><span class="">CZK</span></a></li><li rel="7"><a tabindex="-1" href="#" class=""><span class="">DKK</span></a></li><li rel="8"><a tabindex="-1" href="#" class=""><span class="">EUR</span></a></li><li rel="9"><a tabindex="-1" href="#" class=""><span class="">GBP</span></a></li><li rel="10"><a tabindex="-1" href="#" class=""><span class="">HKD</span></a></li><li rel="11"><a tabindex="-1" href="#" class=""><span class="">HUF</span></a></li><li rel="12"><a tabindex="-1" href="#" class=""><span class="">IDR</span></a></li><li rel="13"><a tabindex="-1" href="#" class=""><span class="">ILS</span></a></li><li rel="14"><a tabindex="-1" href="#" class=""><span class="">INR</span></a></li><li rel="15"><a tabindex="-1" href="#" class=""><span class="">JPY</span></a></li><li rel="16"><a tabindex="-1" href="#" class=""><span class="">KRW</span></a></li><li rel="17"><a tabindex="-1" href="#" class=""><span class="">MYR</span></a></li><li rel="18"><a tabindex="-1" href="#" class=""><span class="">MXN</span></a></li><li rel="19"><a tabindex="-1" href="#" class=""><span class="">NOK</span></a></li><li rel="20"><a tabindex="-1" href="#" class=""><span class="">NZD</span></a></li><li rel="21"><a tabindex="-1" href="#" class=""><span class="">PHP</span></a></li><li rel="22"><a tabindex="-1" href="#" class=""><span class="">PLN</span></a></li><li rel="23"><a tabindex="-1" href="#" class=""><span class="">RUB</span></a></li><li rel="24"><a tabindex="-1" href="#" class=""><span class="">SEK</span></a></li><li rel="25"><a tabindex="-1" href="#" class=""><span class="">SGD</span></a></li><li rel="26"><a tabindex="-1" href="#" class=""><span class="">TWD</span></a></li><li rel="27" class="selected"><a tabindex="-1" href="#" class=""><span class="">USD</span></a></li><li rel="28"><a tabindex="-1" href="#" class=""><span class="">VND</span></a></li><li rel="29"><a tabindex="-1" href="#" class=""><span class="">ZAR</span></a></li></ul></div>
        </div>

      </div>
      <div class="col-md-3 col-md-offset-1">
        <h5 class="title">Company</h5>
        <nav>
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Find offers
              </a>
            </li>
            <li>
              <a href="#">
                Discover
              </a>
            </li>
            <li>
              <a href="#">
                Portfolio
              </a>
            </li>
            <li>
              <a href="#">
                Our news
              </a>
            </li>
            <li>
              <a href="#">
                About Us
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3">
        <h5 class="title"> Help and Support</h5>
        <nav>
          <ul>
            <li>
              <a href="#">
                Contact Us
              </a>
            </li>
            <li>
              <a href="#">
                How it works
              </a>
            </li>
            <li>
              <a href="#">
                Terms &amp; Conditions
              </a>
            </li>
            <li>
              <a href="#">
                Company Policy
              </a>
            </li>
            <li>
              <a href="#">
                Money Back
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-3">
        <h5 class="title">Follow us on</h5>
        <nav>
          <ul>
            <li>
              <a href="#" class="btn btn-social btn-facebook btn-simple">
                <i class="fa fa-facebook-square"></i> Facebook
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-social btn-dribbble btn-simple">
                <i class="fa fa-dribbble"></i> Dribbble
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-social btn-twitter btn-simple">
                <i class="fa fa-twitter"></i> Twitter
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-social btn-reddit btn-simple">
                <i class="fa fa-google-plus-square"></i> Google+
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
    <hr>
    <div class="copyright">
      © 2014 Webee, Web Development and Design Agency
    </div>
  </div>
</footer>